.DS_STORE
.vs/
.idea
.vscode
.out
*.log
/.eslintcache
/.next
/.nyc_output
/coverage
/test/regressions/screenshots
/test/selenium-output
/tmp
build
node_modules/
package-lock.json
/.eslintcache
.cache
storybook-static